---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
import campobasket from '../assets/campobasket.jpg';
import transi from '../assets/transi.jpg';
---

<Layout
	title="Nuestras jugadas"
	description="Aqui podremos consular las jugadas que tenemos por el momento y usaremos a lo largo de la temporada."
	pubDate={new Date('September 01 2025')}
	heroImage={campobasket}
>
	<p>
		Aquí veremos las jugadas que tenemos por el momento y usaremos a lo largo de la temporada.
		Los vídeos y/o fotos irán acompañados de una descripción para que entendamos la situación y ventajas.
	</p>

	<h2>Transi</h2>
	<p>Jugada en situación de transición. 5 abiertos.</p>
	<div class="hero-image">
		<img src={campobasket.src} alt="Transi" />
	</div>
	<p>Descripcion de la jugada, lectura de ventajas etc etc etc</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</Layout>
