---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import juncmr from '../assets/juncmr.jpeg';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>⛹🏻‍♂️ Bienvenido!</h1>
			<p>
				Bienvenido a la página donde podrás ver las estadísticas del Junior `C` Masculino del CDE Leganés.
			</p>
			
			<p>Aquí podrás consultar:</p>
			<ul>
				<li>Estadísticas por jornadas</li>
				<li>Estadísticas totales</li>
				<li>Estadísticas por jugador</li>
			</ul>
			<p>
				Próximamente se añadirán más funcionalidades.
			</p>
			<img src={juncmr.src} alt="Equipo" style="width: 700px; display: block; margin: 20px auto;" />
			<p style="text-align: center; font-style: italic;">
				"El talento gana partidos, pero el trabajo en equipo y la inteligencia ganan campeonatos." - Michael Jordan
			</p>
			
		</main>
		<Footer />
	</body>
</html>
